body {
    background: lightgrey;
}

.mr{
    margin-top: 1em;
}
.card-title{
    color: honeydew;
    border-radius: 4px;
    background-color: #66339985;
    text-align: center;
}

.card-title {
    color: rgb(55, 189, 13);
    text-align: left;
    background: none;
}

.test-ready__oleg {
    color: #004abb;
    font-weight: 900;
}
.test-ready__oleg:first-letter{
    text-transform: uppercase;
}

.warunkowe,
.niezaleznost {
    max-width: 155px;
}

.calk,
.zmienna-losowa,
.prawo {
    max-width: 210px;
}

.niesk {
    max-width: 130px;
}

.calk2,
.calk3,
.losowa-skokowa,
.losowa-ciagla,
.wlasnist {
    max-width: 260px;
}

.wlasnist-duza,
.dyskretna,
.ww2 {
    max-width: 300px;
}

.nizal {
    max-width: 350px;
}

.text-purple{
    color: rgb(74, 13, 189);
}
.marg-top{
    margin-top: 1em;
}

.nizal-big{
    max-width: 550px;
}

.konversja {
    max-width: 450px;
}