body {
    background: lightgrey;
}

.mr{
    margin-top: 1em;
}
.card-title{
    color: honeydew;
    border-radius: 4px;
    background-color: #66339985;
    text-align: center;
}

.card-title {
    color: rgb(55, 189, 13);
    text-align: left;
    background: none;
}

.test-ready__oleg {
    color: violet;
}
.test-ready__oleg:first-letter{
    text-transform: uppercase;
}

.warunkowe,
.niezaleznost {
    max-width: 155px;
}

.calk {
    max-width: 210px;
}

.calk2,
.calk3 {
    max-width: 260px;
}