body {
    background: lightgray;
}

.mr{
    margin-top: 1em;
}
.card-title{
    color: honeydew;
    border-radius: 4px;
    background-color: #66339985;
    text-align: center;
}

.test-ready__oleg {
    color: rgb(255, 0, 255);
}

.card-title {
    color: rgb(55, 189, 13);
    text-align: left;
    background: none;
}